@import url(http:/\/fonts.googleapis.com/css?family=Quicksand:300);

@font-face {
  font-family: 'Danube';
  src: url("../fonts/danube.ttf");
}

@font-face {
  font-family: 'Track';
  src: url("../fonts/track.ttf");
}

.block-title {
    font-size: 18px;
    font-family: "Track";
    color: #eee;
}

.block-ckip-btn, .block-library-btn, .block-cinema-btn, .block-marathon-btn {
    text-align: center;
    min-height: 250px;
    padding-top: 120px;
    text-transform: uppercase;
}

.block-ckip-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_ckip.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-ckip-btn:hover {
     background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_ckip.jpg") no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.block-library-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_library.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-library-btn:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_library.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-cinema-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_cinema.jpg") no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.block-cinema-btn:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_cinema.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-marathon-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_marathon.jpg") no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.block-marathon-btn:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_marathon.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-posts-categories .block:hover {
    cursor: pointer; 
}

.site-navigation {
    width: 100%
}
.site-header-opts {
    z-index: 99999;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    display: none;
}

.site-header-opts .user-nav {
    float: right;
    margin-top: 5px;
}
.site-header-opts .user-nav a {
    color: #eee;
    font-size: 28px;
    margin-right: 10px;
}
.site-header-opts .user-nav a:hover {
    color: #e32b50;
}
.site-header-opts .navbar-sticky {
    float: left;
}

.site-header-opts .nav-home {
    float: left;
}

.site-header-opts .cart-parent {
    color: #eee;
    font-size: 28px;
}

.site-header-opts .cart-parent:hover {
    text-decoration: none;
    color: #e32b50;
}

.site-header-opts .my-account {
    color: #eee;
    font-size: 28px;
    margin-right: 10px;
}

.site-header-opts .my-account:hover {
    text-decoration: none;
    color: #e32b50;
}

.site-header-opts .widget {
    margin-top: 5px;
    margin-bottom: 0;
    float: left;
}
.site-header-opts .widget .nav .menu-item {
    float: left;
}
.site-header-opts .widget .nav .menu-item a {
    font-family: "Track";
    font-size: 12px;
    color: #eee;
}

.site-header-opts .widget .nav .menu-item a:hover {
    background: none;
    color: #e32b50;
}
.site-footer .partners {
    text-align: center;
}

.site-footer .newsletter {
    text-align: center;
    padding: 25px;
}

.site-footer .newsletter .header,
.site-footer .partners .header {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
    color: #e32b50;
}

.site-footer .newsletter .info {
    margin: 15px 0;
    font-family: "Track";
}

.site-footer .newsletter .info span {
    color: #e32b50;
}

.site-footer .newsletter .newsletter-email {
    border: 1px solid #ccc;
    height: 40px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
    outline: none
}
.site-footer .newsletter .newsletter-email:active,
.site-footer .newsletter .newsletter-email:focus {
    border: 1px solid #e32b50;
}

.site-footer .newsletter .newsletter-submit {
    border: 1px solid #e32b50;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    background: none;
    color: #e32b50;
    min-width: 100px;
}

.site-footer .newsletter .newsletter-submit:hover,
.site-footer .newsletter .newsletter-submit:focus {
    background: #e32b50;
    color: #eee;
}

.site-footer .partners .header {
    margin-bottom: 15px;
}

.site-footer .partners .item img {
    margin: auto;
    height: 80px;
    margin-right: 30px;
}
.site-footer .partners .item img {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.site-footer .partners .item img:hover {
    filter: none;
    -webkit-filter: none;
}

.site-footer .site-footer-bottom {
    background-color: #e32b50;
}

.site-footer .site-footer-inner {
    width: 100%;
    padding: 15px;
}

.site-footer .site-footer-inner .fsidebar h3 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.site-footer .site-footer-inner .fsidebar .nav li a {
    padding: 0;
    color: #333;
    font-size: 14px;
}

.site-footer .site-footer-inner .fsidebar .nav li a:focus,
.site-footer .site-footer-inner .fsidebar .nav li a:hover {
    background-color: transparent;
    color: #eee;
}

.site-footer .site-footer-inner .copyright {
    margin-top: 60px;
    color: #333;
}
.site-footer .site-footer-inner .copyright .col-sm-4{
    text-align: right;
}

.site-footer .site-footer-inner a {
    color: #333;
}

.site-footer .site-footer-inner a:hover,
.site-footer .site-footer-inner a:focus {
    color: #eee;
    text-decoration: none;
}

.site-footer .site-footer-inner .cname {
    font-family: 'Danube';
}

.site-footer .site-footer-inner .csoftware {
    font-family: 'Quicksand';
}

.site-footer .site-footer-inner .logo {
  padding-top: 20px;
  text-align: center;
}

.site-header-image .container {
    position: relative
}

.site-header-image .hours {
    width: 350px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/library_time.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    padding: 5px;
    position: absolute;
    top: 70px;
    right: 15px;
}

.site-header-image .hours .header {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #eee;
    margin-bottom: 15px;
}
.site-header-image .hours .content {
    font-size: 18px;
    text-transform: uppercase;
    color: #eee;
}
.site-header-image .hours .day {
    background-color: #e32b50;
    text-align: center;
    margin: 0 -25px 15px 25px;
}

.site-header-image .hours .hour {
    text-align: right;
    padding-right: 25px;
    padding-left: 25px;
}
.library-top .col-md-3:first-child .agency {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/filia1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 300px;
    text-align: center;
}
.library-top .col-md-3:first-child a:hover .agency {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/filia1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 300px;
    text-align: center;
}

.library-top .col-md-3 .agency {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/filia2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 300px;
    text-align: center;
}

.library-top .col-md-3 a:hover .agency {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/filia2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 300px;
    text-align: center;
}
.library-top a:hover .agency .icon {
    background: url("../img/filia_pink.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
}
.library-top a .agency .icon {
    background: url("../img/filia_white.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
}
.library-top a .agency {
    color: #eee;
    font-family: "Track";
}
.library-top a .agency .name {
    padding: 10px;
}

.library-top a:hover .agency .name {
    border-top: 1px solid #e32b50;
    border-bottom: 1px solid #e32b50;
    padding: 10px;
}

.library-top .catalogue {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/library_catalogue.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 150px;
    text-align: center;
}

.library-top a:hover .catalogue {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/library_catalogue.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 150px;
    text-align: center;
}
.library-top a .catalogue .icon {
    background: url("../img/ebook_white.png") no-repeat center center;
    display: block;
    width: 50px;
    height: 50px;
    background-size: 100%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}
.library-top a:hover .catalogue .icon {
    background: url("../img/ebook_pink.png") no-repeat center center;
    display: block;
    width: 50px;
    height: 50px;
    background-size: 100%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

.library-top .catalogue .name {
    color: #eee;
    font-family: "Track";
    padding: 10px;
}

.library-top a:hover .catalogue .name {
    border-top: 1px solid #e32b50;
    border-bottom: 1px solid #e32b50;
    padding: 10px;
}

.library-top .ibuk {
    height: 150px;
    text-align: center;
}
.library-top .ibuk .icon {
    background: url("../img/ibuk.png") no-repeat center center;
    display: block;
   width: 100px;
    height: 120px;
    background-size: 100%;
    margin: auto;
    margin-top: 15px;
}


@media (max-width: 992px) {
    .library-top .col-xs-12:last-of-type {
        margin-top: 15px;
    }
}

.marathon-top .form {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/form.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}
.marathon-top a:hover .form {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/form.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}

.marathon-top .map {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/map.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}
.marathon-top a:hover .map {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/map.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}

.marathon-top .scores {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/scores.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}
.marathon-top a:hover .scores {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/scores.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}
.marathon-top .name {
    color: #eee;
    font-family: "Track";
    padding: 10px;
}

.marathon-top a:hover .name {
    border-top: 1px solid #e32b50;
    border-bottom: 1px solid #e32b50;
    padding: 10px;
}

.marathon-top a .form .icon {
    background: url("../img/register_white.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top a:hover .form .icon {
    background: url("../img/register_pink.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top a .map .icon {
    background: url("../img/map_white.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top a:hover .map .icon {
    background: url("../img/map_pink.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top a .scores .icon {
    background: url("../img/awards_white.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top a:hover .scores .icon {
    background: url("../img/awards_pink.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top .col-md-4 {
    margin-bottom: 15px;
}

.posts-main-btn {
    color: #E32B50;
}

.block-posts .post {
    height: 450px; 
    overflow: hidden;
}

.block-events .post {
    height: 350px; 
    overflow: hidden;
    margin-bottom: 30px;
}

.block-posts .post.new {
    height: 250px;
}

.block-posts .post .content,
.block-events .post .content {
    height: 100%;
    text-align: center;
}

.block-posts .post.new .content {
    border: 1px solid #e32b50;
}

.block-posts .post .content .title,
.block-events .post .content .title {
    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    font-family: "Track";
    margin: 0;
    padding: 15px 5px;
    text-align: left;
}
.block-posts .post.new .content .title {
    display: none;
    font-size: 10px;
}

.block-posts .post .posted {
    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    margin: 0;
    padding: 15px 5px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: calc(100% - 30px);
}

.block-posts .post.new .posted {
    display: none;
}

.block-posts .post .preview,
.block-events .post .preview {
    display: none;
}

.block-posts .post .preview p,
.block-events .post .preview p {
    padding: 20px 15px;
    color: #eee;
    text-align: justify;
}

.block-posts .post .btn-default,
.block-events .post .btn-default {
    background: none;
    border: none;
    font-weight: bold;
    color: #eee;
    font-size: 18px;
    border-top: 1px solid #e32b50;
    border-bottom: 1px solid #e32b50;
    border-radius: 0;
    max-width: 150px;
    display: none;
    margin: auto;
}
.block-posts .post.new .btn-default {
    margin-top: 50%;
}
.block-posts .post .btn-default:hover,
.block-events .post .btn-default:hover {
    color: #e32b50;
}
.block-posts .post .content:hover .btn-default,
.block-posts .post .content:focus .btn-default,
.block-events .post .content:hover .btn-default,
.block-events .post .content:focus .btn-default,
.block-posts .post .content:hover .preview,
.block-events .post .content:hover .preview,
.block-posts .post.new .content:hover .title,
.block-events .post.new .content:hover .title {
    display: block;
}

.block-posts .post {
    margin-bottom: 5px;
}

.site-header .overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.site-header .overlay-header img {
    margin-top: 80px;
    max-width: 150px;
}
.site-header .overlay-header span {
    display: block;
    color: #eee;
    font-family: "Track";
    font-size: 26px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.separator {
    border-color: #e32b50;
}
