@import url(http:/\/fonts.googleapis.com/css?family=Quicksand:300);

@font-face {
  font-family: 'Danube';
  src: url("../fonts/danube.ttf");
}

@font-face {
  font-family: 'Track';
  src: url("../fonts/track.ttf");
}

.block-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #EEE;
}

.block-ckip-btn, .block-library-btn, .block-cinema-btn, .block-marathon-btn {
    text-align: center;
    min-height: 250px;
    padding-top: 120px;
    text-transform: uppercase;
}

.block-ckip-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_ckip.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-ckip-btn:hover {
     background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_ckip.jpg") no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.block-library-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_library.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-library-btn:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_library.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-cinema-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_cinema.jpg") no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.block-cinema-btn:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_cinema.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-marathon-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_marathon.jpg") no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.block-marathon-btn:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_marathon.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-posts-categories .block:hover {
    cursor: pointer; 
}

.site-header-opts {
    z-index: 99999;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    display: none;
}

.site-header-opts .user-nav {
    float: right;
    margin-top: 5px;
}

.site-header-opts .navbar-sticky {
    float: left;
}

.site-header-opts .nav-home {
    float: left;
}

.site-header-opts .cart-parent {
    color: #eee;
    font-size: 28px;
}

.site-header-opts .cart-parent:hover {
    text-decoration: none;
    color: #e32b50;
}

.site-header-opts .my-account {
    color: #eee;
    font-size: 28px;
    margin-right: 10px;
}

.site-header-opts .my-account:hover {
    text-decoration: none;
    color: #e32b50;
}

.site-header-opts .widget {
    margin-top: 5px;
    margin-bottom: 0;
    float: left;
}
.site-header-opts .widget .nav .menu-item {
    float: left;
}

.site-header-opts .logo {
    float: left;
    max-height: 40px;
    margin: 5px;
}

.site-footer .partners {
    text-align: center;
}

.site-footer .newsletter {
    text-align: center;
    padding: 25px;
}

.site-footer .newsletter .header,
.site-footer .partners .header {
    text-transform: uppercase;
    font-size: 24px;
}

.site-footer .newsletter .info {
    margin: 15px 0;
    font-family: "Track";
}

.site-footer .newsletter .info span {
    color: #e32b50;
}

.site-footer .newsletter .newsletter-email {
    border: 1px solid #ccc;
    height: 40px;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
    outline: none
}
.site-footer .newsletter .newsletter-email:active,
.site-footer .newsletter .newsletter-email:focus {
    border: 1px solid #e32b50;
}

.site-footer .newsletter .newsletter-submit {
    border: 1px solid #e32b50;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    background: none;
    color: #e32b50;
    min-width: 100px;
}

.site-footer .newsletter .newsletter-submit:hover,
.site-footer .newsletter .newsletter-submit:focus {
    background: #e32b50;
    color: #eee;
}

.site-footer .partners .header {
    margin-bottom: 15px;
}

.site-footer .partners .item img {
    margin: auto;
    height: 80px;
    margin-right: 30px;
}
.site-footer .partners .item img {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.site-footer .partners .item img:hover {
    filter: none;
    -webkit-filter: none;
}

.site-footer .site-footer-bottom {
    background-color: #e32b50;
}

.site-footer .site-footer-inner {
    width: 100%;
    padding: 15px;
}

.site-footer .site-footer-inner .fsidebar h3 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.site-footer .site-footer-inner .fsidebar .nav li a {
    padding: 0;
    color: #333;
    font-size: 14px;
}

.site-footer .site-footer-inner .fsidebar .nav li a:focus,
.site-footer .site-footer-inner .fsidebar .nav li a:hover {
    background-color: transparent;
    color: #eee;
}

.site-footer .site-footer-inner .copyright {
    margin-top: 60px;
    color: #333;
}
.site-footer .site-footer-inner .copyright .col-sm-4{
    text-align: right;
}

.site-footer .site-footer-inner a {
    color: #333;
}

.site-footer .site-footer-inner a:hover,
.site-footer .site-footer-inner a:focus {
    color: #eee;
    text-decoration: none;
}

.site-footer .site-footer-inner .cname {
    font-family: 'Danube';
}

.site-footer .site-footer-inner .csoftware {
    font-family: 'Quicksand';
}

.site-footer .site-footer-inner .logo {
  padding-top: 20px;
  text-align: center;
}

.library-top .hours .content {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/library_time.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    padding: 15px;
    min-height: 300px;
}

.library-top .hours .header {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #eee;
    margin-bottom: 15px;
}
.library-top .hours .content {
    font-size: 18px;
    text-transform: uppercase;
    color: #eee;
}
.library-top .hours .day {
    background-color: #e32b50;
    text-align: center;
    margin: 0 -25px 15px 25px;
}

.library-top .hours .hour {
    text-align: right;
    padding-right: 25px;
    padding-left: 25px;
}

.library-top .catalogue .content {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/library_catalogue.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 300px;
    text-align: center;
}
.library-top .catalogue .content .icon {
    background: url("../img/e_book.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
}

.library-top .catalogue .content .name {
    font-size: 18px;
    text-transform: uppercase;
    color: #eee;
    display: block;
    padding-top: 30px;
}

@media (min-width: 992px) {
    .library-top .links .ibuk {
        margin-bottom: 50px;
        padding: 0 20px;
    }
}

@media (max-width: 991px) {
    .library-top .hours {
        margin-bottom: 30px;
    }
    .library-top .catalogue {
        margin-bottom: 30px;
    }
}

.block-posts .post {
    height: 450px; 
    overflow: hidden;
}

.block-posts .post .content {
    height: 100%;
    text-align: center;
}

.block-posts .post .content .title {
    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 15px 5px;
    text-align: left;
}

.block-posts .post .posted {
    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    margin: 0;
    padding: 15px 5px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: calc(100% - 30px);
}

.block-posts .post img {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: -1;
}

.block-posts .post .preview {
    display: none;
}

.block-posts .post .preview p {
    padding: 20px 15px;
    color: #eee;
    text-align: justify;
}

.block-posts .post .btn-default {
    background: none;
    border: none;
    font-weight: bold;
    color: #eee;
    font-size: 18px;
    border-top: 1px solid #e32b50;
    border-bottom: 1px solid #e32b50;
    border-radius: 0;
    max-width: 150px;
    display: none;
    margin: auto;
}
.block-posts .post .btn-default:hover {
    color: #e32b50;
}
.block-posts .post .content:hover .btn-default,
.block-posts .post .content:focus .btn-default,
.block-posts .post .content:hover .preview {
    display: block;
}

.block-posts .post {
    margin-bottom: 30px;
}
