@import url(http:/\/fonts.googleapis.com/css?family=Quicksand:300);

@font-face {
  font-family: 'Danube';
  src: url("../fonts/danube.ttf");
}

@font-face {
  font-family: 'Track';
  src: url("../fonts/track.ttf");
}
.section-heading {
    color:#121212;
}
.section-heading:hover {
    color:#E32B50;
    text-decoration: none;
}

.section-heading span {
    font-size: 18px;
}

.block-title {
    font-size: 18px;
    font-family: "Track";
    color: #eee;
}

.site-header-opts {
    display: none;
}

.block-ckip-btn:hover .block-title,
.block-library-btn:hover .block-title,
.block-cinema-btn:hover .block-title,
.block-marathon-btn:hover .block-title {
    border-top: 1px solid #E32B50;
    padding: 10px 25px;
    border-bottom: 1px solid #E32B50;
}

.block-ckip-btn, .block-library-btn, .block-cinema-btn, .block-marathon-btn {
    text-align: center;
    min-height: 250px;
    padding-top: 120px;
    text-transform: uppercase;
}

.block-ckip-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_ckip.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-ckip-btn:hover {
     background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_ckip.jpg") no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.block-library-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_library.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-library-btn:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_library.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-cinema-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_cinema.jpg") no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.block-cinema-btn:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_cinema.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-marathon-btn {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/news_marathon.jpg") no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.block-marathon-btn:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/news_marathon.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.block-posts-categories .block:hover {
    cursor: pointer; 
}

.site-navigation {
    width: 100%
}
.site-header-opts {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    z-index: 9999;
}

.site-header-opts .user-nav {
    float: right;
    margin-top: 5px;
}
.site-header-opts .user-nav a img {
    height: 35px;
}

.site-header-opts .user-nav a {
    color: #eee;
    font-size: 28px;
    margin-right: 10px;
}
.site-header-opts .user-nav a:hover {
    color: #e32b50;
}
.site-header-opts .navbar-sticky {
    float: left;
}

.site-header-opts .nav-home {
    float: left;
}

.site-header-opts .cart-parent {
    color: #eee;
    font-size: 28px;
}

.site-header-opts .cart-parent:hover {
    text-decoration: none;
    color: #e32b50;
}

.site-header-opts .my-account {
    color: #eee;
    font-size: 28px;
    margin-right: 10px;
}

.site-header-opts .my-account:hover {
    text-decoration: none;
    color: #e32b50;
}

.site-header-opts .widget {
    margin-top: 5px;
    margin-bottom: 0;
    float: left;
}
.site-header-opts .widget .nav .menu-item {
    float: left;
}
.site-header-opts .widget .nav .menu-item a {
    font-family: "Track";
    font-size: 12px;
    color: #eee;
}

.site-header-opts .widget .nav .menu-item a:hover {
    background: none;
    color: #e32b50;
}
.site-footer .partners {
    text-align: center;
}

.site-footer .newsletter {
    text-align: center;
    padding: 25px;
}

.site-footer .newsletter .header,
.site-footer .partners .header {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
    color: #e32b50;
}

.site-footer .newsletter .info {
    margin: 15px 0;
    font-family: "Track";
}

.site-footer .newsletter .info span {
    color: #e32b50;
}

.site-footer .newsletter .newsletter-email {
    border: 1px solid #ccc;
    height: 40px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
    outline: none
}
.site-footer .newsletter .newsletter-email:active,
.site-footer .newsletter .newsletter-email:focus {
    border: 1px solid #e32b50;
}

.site-footer .newsletter .newsletter-submit {
    border: 1px solid #e32b50;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    background: none;
    color: #e32b50;
    min-width: 100px;
}

.site-footer .newsletter .newsletter-submit:hover,
.site-footer .newsletter .newsletter-submit:focus {
    background: #e32b50;
    color: #eee;
}

.site-footer .partners .header {
    margin-bottom: 15px;
}

.site-footer .partners .item img {
    margin: auto;
    height: 80px;
    margin-right: 30px;
}
.site-footer .partners .item img,
.site-footer .partners .static-item img {
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Google Chrome & Safari 6+ */
}

.site-footer .partners .item img:hover,
.site-footer .partners .static-item img:hover {
    filter: none;
    -webkit-filter: none;
}
.site-footer .partners a {
    display:table-cell;
    height:80px;
    vertical-align:middle;
}
.site-footer .partners a img {
    max-width: 100%;
    max-height: 80px;
    margin-bottom: 10px;
}
.site-footer .site-footer-bottom {
    background-color: #e32b50;
}

.site-footer .site-footer-inner {
    width: 100%;
    padding: 15px;
}

.site-footer .site-footer-inner .fsidebar h3 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.site-footer .site-footer-inner .fsidebar .nav li a {
    padding: 0;
    color: #333;
    font-size: 14px;
}

.site-footer .site-footer-inner .fsidebar .nav li a:focus,
.site-footer .site-footer-inner .fsidebar .nav li a:hover {
    background-color: transparent;
    color: #eee;
}

.site-footer .site-footer-inner .copyright {
    margin-top: 60px;
    color: #333;
}
.site-footer .site-footer-inner .copyright .col-sm-4{
    text-align: right;
}

.site-footer .site-footer-inner a {
    color: #333;
}

.site-footer .site-footer-inner a:hover,
.site-footer .site-footer-inner a:focus {
    color: #eee;
    text-decoration: none;
}

.site-footer .site-footer-inner .cname {
    font-family: 'Danube';
}

.site-footer .site-footer-inner .csoftware {
    font-family: 'Quicksand';
}

.site-footer .site-footer-inner .logo {
  padding-top: 20px;
  text-align: center;
}
.site-footer .site-footer-inner .logo .bottom {
    margin-top: 40px;
}

.site-header-image {
    padding-top: 45px;
}

.site-header-image .container {
    position: relative
}
.site-header-image .container .site-header-inner {
  height: 350px;
}
.site-header-image .library-hours {
    width: 350px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    padding: 5px;
    position: absolute;
    top: 30px;
    right: 0px;
}

.library-top .library-hours {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/library_time.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 300px;
    text-align: center;
    margin-bottom: 30px;
}

.library-hours .header {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #eee;
    margin-bottom: 15px;
}
.library-hours .content {
    font-size: 18px;
    text-transform: uppercase;
    color: #eee;
}
.library-hours .day {
    background-color: #e32b50;
    text-align: center;
    margin: 0 -25px 15px 25px;
}

.library-hours .hour {
    text-align: right;
    padding-right: 25px;
    padding-left: 25px;
}
.library-top .col-md-3:first-child .agency {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/filia1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 300px;
    text-align: center;
}
.library-top .col-md-3:first-child a:hover .agency {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/filia1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 300px;
    text-align: center;
}

.library-top .col-md-3 .agency {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/filia2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 300px;
    text-align: center;
}

.library-top .col-md-3 a:hover .agency {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/filia2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 300px;
    text-align: center;
}
.library-top a:hover .agency .icon {
    background: url("../img/filia_pink.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
}
.library-top a .agency .icon {
    background: url("../img/filia_white.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
}
.library-top a .agency {
    color: #eee;
    font-family: "Track";
}
.library-top a .agency .name {
    padding: 10px;
}

.library-top a:hover .agency .name {
    border-top: 1px solid #e32b50;
    border-bottom: 1px solid #e32b50;
    padding: 10px;
}

.library-top .catalogue {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/library_catalogue.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 200px;
    text-align: center;
}

.library-top a:hover .catalogue {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/library_catalogue.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 200px;
    text-align: center;
}
.library-top a .catalogue .icon {
    background: url("../img/ebook_white.png") no-repeat center center;
    display: block;
    width: 50px;
    height: 50px;
    background-size: 100%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 20px;
}
.library-top a:hover .catalogue .icon {
    background: url("../img/ebook_pink.png") no-repeat center center;
    display: block;
    width: 50px;
    height: 50px;
    background-size: 100%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 20px;
}

.library-top .catalogue .name {
    color: #eee;
    font-family: "Track";
    padding: 10px;
}

.library-top a:hover .catalogue .name {
    border-top: 1px solid #e32b50;
    border-bottom: 1px solid #e32b50;
    padding: 10px;
}

.library-top .ibuk,
.library-top .bip {
    height: 100px;
    text-align: center;
    display: block;
    padding-top: 15px;
}
.library-top .ibuk .icon {
    background-image: url("../img/ibuk.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 100%;
}

.library-top .bip .icon {
    background-image: url("../img/bip.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 100%;
}

@media (max-width: 992px) {
    .library-top .col-xs-12.hidden-md .catalogue {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .library-top .agency.second{
        margin-top: 30px;
    }
}
.marathon-top .form {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/form.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}
.marathon-top a:hover .form {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/form.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}

.marathon-top .map {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/map.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}
.marathon-top a:hover .map {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/map.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}

.marathon-top .scores {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/scores.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}
.marathon-top a:hover .scores {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/scores.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 250px;
    text-align: center;
}
.marathon-top .name {
    color: #eee;
    font-family: "Track";
    padding: 10px;
}

.marathon-top a:hover .name {
    border-top: 1px solid #e32b50;
    border-bottom: 1px solid #e32b50;
    padding: 10px;
}

.marathon-top a .form .icon {
    background: url("../img/register_white.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top a:hover .form .icon {
    background: url("../img/register_pink.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top a .map .icon {
    background: url("../img/map_white.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top a:hover .map .icon {
    background: url("../img/map_pink.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top a .scores .icon {
    background: url("../img/awards_white.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top a:hover .scores .icon {
    background: url("../img/awards_pink.png") no-repeat center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.marathon-top .col-md-4 {
    margin-bottom: 15px;
}

.block-posts-categories .block {
    margin-bottom: 30px;
}

.posts-cat-title {
    color: #E32B50;
}

.posts-cat-title a {
    padding-left: 10px;
}

.posts-cat-title a,
.posts-cat-title span {
    font-size: 18px
}

.posts-cat-title a:hover,
.posts-cat-title span:hover {
    text-decoration: none;
    color: #121212;
    cursor: pointer;
}

.block-posts .post {
    height: 450px; 
    overflow: hidden;
}

.block-events .post {
    height: 350px; 
    overflow: hidden;
    margin-bottom: 30px;
}

.block-library-books .post {
    height: 250px;
}

.block-posts .post .content,
.block-events .post .content {
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.block-library-books .post .content {
    border: 1px solid #e32b50;
}

.block-posts .post .content .title,
.block-events .post .content .title {
    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    font-family: "Track";
    margin: 0;
    padding: 15px 5px;
    text-align: left;
    width: 100%;
}
.block-library-books .post .content .title {
    font-size: 10px;
}

.block-events .post .content .title div {
    display: inline-block;
    width: 65%;
}
.block-events .post .content .title div:last-of-type {
    width: 34%;
    float: right;
    text-align: right;
}
.block-posts .post .posted {
    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    margin: 0;
    padding: 15px 5px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: calc(100% - 30px);
}

.block-library-books .post .posted {
    display: none;
}

.block-posts .post .preview,
.block-events .post .preview {
    display: none;
}

.block-posts .post .preview p,
.block-events .post .preview p {
    padding: 20px 15px;
    color: #eee;
    text-align: justify;
}

.block-posts .post .btn-default,
.block-events .post .btn-default {
    background: none;
    border: none;
    font-weight: bold;
    color: #eee;
    font-size: 18px;
    border-top: 1px solid #e32b50;
    border-bottom: 1px solid #e32b50;
    border-radius: 0;
    max-width: 150px;
    display: none;
    margin: auto;
}
.block-library-books .post .btn-default {
    margin-top: 50%;
}
.block-posts .post .btn-default:hover,
.block-events .post .btn-default:hover {
    color: #e32b50;
}
.block-posts .post .content:hover .btn-default,
.block-posts .post .content:focus .btn-default,
.block-events .post .content:hover .btn-default,
.block-events .post .content:focus .btn-default,
.block-posts .post .content:hover .preview,
.block-events .post .content:hover .preview,
.block-library-books .post .content:hover .title,
.block-library-books .post .content:hover .title {
    display: block;
}
.block-library-books .content:hover .preview {
    display: none !important;
}

.block-posts .post {
    margin-bottom: 30px;
}

.site-header .overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.site-header .overlay-header img {
    margin-top: 80px;
    max-width: 150px;
}

.site-header .overlay-header img.library-logo {
    max-width: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.site-header .library-overlay {
    background: none;
}

.site-header .overlay-header img.ckip-logo {
    max-width: 450px;
    margin-top: 130px;
}
.site-header .ckip-overlay {
}

.site-header .overlay-header span {
    display: block;
    color: #eee;
    font-family: "Track";
    font-size: 26px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.separator {
    border-color: #e32b50;
}

.tribe-single-event .event-img {
    height: 500px;
    margin-top: 20px;
}

.tribe-single-event .tribe-event-title {
    text-transform: uppercase;
    color: #E32B50;
    font-weight: bold;
    
}
.tribe-single-event .tribe-event-main-info {
    margin-bottom: 10px;
}

.tribe-single-event .tribe-events-term {
    font-size: 18px;
    font-weight: bold;
}
.tribe-single-event .tribe-events-cost {
    float: right;
    font-size: 20px;
    color: #E32B50;
    font-weight: bold;
}

.tribe-single-event .tribe-events-cal-links {
    text-align: right;
}
.tribe-single-event .tribe-events-cal-links .tribe-events-button {
    border: 1px solid #e32b50 !important;
    border-radius: 3px !important;
    height: 40px !important;
    padding: 10px !important;
    background: none !important;
    color: #e32b50 !important;
    min-width: 100px !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    font-size: 14px !important;
    text-transform: none !important;
    line-height: 16px !important;
}
.tribe-single-event .tribe-events-cal-links .tribe-events-button:hover {
    color: #eee !important;
    background-color: #E32B50 !important;
}

.tribe-single-event .add-to-cart .button {
    border: 1px solid #e32b50;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    background-color: transparent !important;
    font-weight: normal;
    color: #e32b50 !important;

}
.tribe-single-event .add-to-cart .button:hover {
    color: #eee !important;
    background-color: #E32B50 !important;
}

.tribe-events-page-title {
    font-family: 'Track';
}

.tribe-events-list-separator-month {
    background: none;
    color: #E32B50;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: 'Track';
    text-align: center;
}

.list-event .event-head {
    border-bottom: 1px solid #e32b50;
    padding: 10px;
}

.list-event .event-title {
    color: #E32B50;
    font-size: 16px;
    font-weight: bold;
}

.list-event .event-time {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.list-event .event-img {
    height: 200px;
    margin-top:15px;
}

.list-event .event-cost {
    color: #E32B50;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}

.list-event .btn-default {
    border: 1px solid #e32b50;
    border-radius: 3px;
    color: #e32b50;
    float: right;
}

.list-event .btn-default:hover {
    color: #EEEEEE;
    background-color: #e32b50;
}

.list-event .event-excerpt {
    text-align: justify;
}
#tribe-events-bar {
    margin-bottom: 0;
}

#tribe-bar-form {
    background: #fff;
}

.tribe-events-button {
    border: 1px solid #e32b50 !important;
    border-radius: 3px !important;
    height: 40px !important;
    padding: 10px !important;
    background-color: transparent !important;
    color: #e32b50 !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    font-size: 14px !important;
    text-transform: none !important;
    line-height: 16px !important;
}

.tribe-bar-views-inner,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
    background: none;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
    background: #E32B50;
    color: #EEEEEE;
}

.tribe-events-calendar th {
    background: #333333;
    color: #EEEEEE;
    padding: 8px 0;
}

.tribe-events-calendar div[id*=tribe-events-daynum-],
.tribe-events-calendar div[id*=tribe-events-daynum-] a {
    color: #333333;
    font-size: 16px;
}

.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
    background: #E32B50;
    font-size: 16px;
    color: #EEEEEE;
}

a.url {
    color: #333;
}

.tribe-events-viewmore {
    margin: 0;
    background: #E32B50;
}
.tribe-events-viewmore a {
    color: #EEEEEE;
}

#tribe-events-footer .tribe-events-sub-nav a,
#tribe-events-header .tribe-events-sub-nav a {
    color: #E32B50;
    font-size: 18px;
    font-weight: bold;
}

.btn-primary {
    border: 1px solid #e32b50;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    background-color: #e32b50;
    color: #eee;
    font-weight: normal;
    font-size: 14px;
    text-transform: none;
}
.btn-primary:hover {
    background-color: #EF5170;
    border: 1px solid #EF5170;
    color: #eee;
}

.alert-info {
    background: none;
    color: #21759B;
    border-color: #21759B;
}

.tribe-events-tooltip .entry-title {
    background-color: #E32B50 !important;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    border: 1px solid #e32b50;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    background-color: #e32b50;
    color: #eee;
    font-weight: normal;
    font-size: 14px;
    text-transform: none;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #EF5170;
    border: 1px solid #EF5170;
    color: #eee;
}

.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    border: 1px solid #333;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    background-color: #333;
    color: #eee;
    font-weight: normal;
    font-size: 14px;
    text-transform: none;
}

.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    background-color: #555;
    border: 1px solid #555;
    color: #eee;
}

.alert-danger,
.woocommerce-error {
    border: 1px solid #B92C28;
    border-top: 1px solid #B92C28 !important;
    border-radius: 4px;
    background-color: #fff !important;
    color: #B92C28 !important;
}
.woocommerce .quantity .qty {
    width: inherit;
}

.woocommerce-checkout #payment {
    background-color: #fff;
}

.slicknav_menu {
    background: none;
    position: absolute;
    z-index: 99999;
    padding: 0px;
}

.slicknav_btn {
    float: left;
    margin: 5px;
}

.slicknav_menu a {
    font-family: "Track";
}
.slicknav_menu .slicknav_menutxt {
    line-height: 20px;
}

.slicknav_nav {
    background: rgba(0,0,0,0.8);
}

.slicknav_nav .slicknav_row, .slicknav_nav a {
    padding: 10px;
}

.slicknav_menu a:hover,
.slicknav_menu a:hover span {
    background: none;
    color: #E32B50;
}

.slicknav_menu a:hover,
.slicknav_menu a:hover span {
    background: none;
    color: #E32B50;
}
.slicknav_menu  a:hover .slicknav_icon-bar {
    background: #E32B50;
}

.slicknav_menu {
    display: none;
}
@media (max-width: 992px) {
    .slicknav_menu {
        display: block;
    }
    .sticky-menu {
        display: none
    }
}