.search-btn {
    background: none;
    border: none;
    font-size: 28px;
    color: #121212;
}
.search-btn:hover {
    color: #e32b50;
}
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	z-index: 100;
}

/* Overlay closing cross */
.overlay .overlay-close {
  position: absolute;
  right: 60px;
  top: 60px;
  font-size: 36px;
  background: none;
  color: #EEE;
  border: none;
}

/* Search form style */
.overlay form {
	text-align: center;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.overlay form .search-field {
  height: 48px;
  font-size: 24px;
  color: #EEE;
  background: transparent;
  border: none;
  -webkit-box-shadow: 0 3px 0 0 rgba(255,255,255,.2);
  -moz-box-shadow: 0 3px 0 0 rgba(255,255,255,.2);
  box-shadow: 0 3px 0 0 rgba(255,255,255,.2);
  border-radius: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-align: center;
}

.overlay form p {
    font-size: 14px;
    color: #EEE;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.overlay form i {
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 38px;
    color: rgba(255, 255, 255, 0.3);
}

.overlay form i input {
    position: absolute;
    top: 0px;
    width: 80px;
    right: 0px;
    background: none;
    border: none;
}

.overlay form i input:hover {
    background: none;
    border: none;
}
/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc form {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}